
<div class="col-lg-12">
    <img id="Image@(Model.UnicNumber)" src="@(Model.ImagePath)"/>
</div>
</div>

<script>
    var image = document.getElementById("Image@(Model.UnicNumber)");
    image.style.background = "#F0F0F0";
    image.style.width = '@Model.Width';
    image.style.width = '@Model.Height';
    image.style.border = '2px solid black';
</script>