<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Krypto-Kombajn</title>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap-toggle.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-toggle.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top"  id="navbar-default-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" id="navbar-toggle-top" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" id="icon-bar-top"></span>
                    <span class="icon-bar" id="icon-bar-top"></span>
                    <span class="icon-bar" id="icon-bar-top"></span>

                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="navbar-nav-top">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">O nas</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>
    <header>

        <img src="~/images/logo1.png" alt="Main logo" width="600" style="margin-left:100px; margin-top:-20px;">


        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" id="icon-bar-menu"></span>
                        <span class="icon-bar" id="icon-bar-menu"></span>
                        <span class="icon-bar" id="icon-bar-menu"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true"> Generatory<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Generators" asp-action="Cascade">Kaskadowy</a></li>
                                <li><a class="dropdown-item" asp-controller="Generators" asp-action="Geffe">Geffe'go</a></li>
                                <li><a class="dropdown-item" asp-controller="Generators" asp-action="Shrinking">Rozrzedzający</a></li>
                                <li><a class="dropdown-item" asp-controller="Generators" asp-action="StopAndGo">Stop&Go</a></li>
                                <li><a class="dropdown-item" asp-controller="Generators" asp-action="Threshold">Progowy</a></li>
                                <li><a class="dropdown-item" asp-controller="Generators" asp-action="SelfShrinking">Samorozrzedzający</a></li>
                                <li><a class="dropdown-item" asp-controller="Generators" asp-action="SelfDecimation">Rueppela</a></li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true"> Szyfry blokowe<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="BlockCiphers" asp-action="Aes">AES</a></li>
                                <li><a class="dropdown-item" asp-controller="BlockCiphers" asp-action="Des">DES</a></li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true"> Szyfry klasyczne<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="ClassicalCiphers" asp-action="Affine">Afiniczny</a></li>
                                <li><a class="dropdown-item" asp-controller="ClassicalCiphers" asp-action="Bacon">Bacona</a></li>
                                <li><a class="dropdown-item" asp-controller="ClassicalCiphers" asp-action="Caesar">Cezara</a></li>
                                <li><a class="dropdown-item" asp-controller="ClassicalCiphers" asp-action="ColumnarTransposition">Transpozycji kolumn</a></li>
                                <li><a class="dropdown-item" asp-controller="ClassicalCiphers" asp-action="Fence">Płotkowy</a></li>
                                <li><a class="dropdown-item" asp-controller="ClassicalCiphers" asp-action="Playfair">Playfair</a></li>
                                <li><a class="dropdown-item" asp-controller="ClassicalCiphers" asp-action="Route">Ścieżkowy</a></li>
                                <li><a class="dropdown-item" asp-controller="ClassicalCiphers" asp-action="Vigenere">Vigenere'a</a></li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true">Funkcje skrótu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="HashFunctions" asp-action="MD5">MD5</a></li>
                                <li><a class="dropdown-item" asp-controller="HashFunctions" asp-action="SHA1">SHA-1</a></li>
                                <li><a class="dropdown-item" asp-controller="HashFunctions" asp-action="SHA256">SHA-256</a></li>
                                <li><a class="dropdown-item" asp-controller="HashFunctions" asp-action="SHA512">SHA-512</a></li>
                                @*<li><a class="dropdown-item" href="#">SHA-3 (Keccak)</a></li>*@
                                <li><a class="dropdown-item" asp-controller="HashFunctions" asp-action="HMAC">HMAC (z kluczem)</a></li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true">Kryptografia asymetryczna<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="AsymmetricCryptography" asp-action="RSA">RSA</a></li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true">Szyfrowanie obrazów<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="VisualCryptography" asp-action="Sekret">Kryptografia wizualna</a></li>
                                <li><a class="dropdown-item" asp-controller="VisualCryptography" asp-action="Steganografia">Steganografia</a></li>
                                <li><a class="dropdown-item" asp-controller="VisualCryptography" asp-action="SteganografiaWizualna">Steganografia Wizualna</a></li>
                            </ul>
                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - KryptoKombajn</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>