<link rel="stylesheet" type="text/css" href="~/css/hash_functions.css">

<h2 class="title">Działanie algorytmu MD5 krok po kroku</h2>
<h4 style="margin-top:10px">Algorytm MD5 składa się z 4 kroków:</h4>
<h3 class="steps">1. Dołączenie bitów dopełniających.</h3>
<h4>- oryginalną wiadomości uzupełniamy na końcu bitem o wartości "1",</h4>
<h4>- uzupełniamy wiadomość bitami o wartości "0" tak, aby długość komunikatu była o 64 bity krótsza niż wielokrotność 512,</h4>
<h4>- następnie na końcu wiadomości dodajemy 64 bity wskazujące długość oryginalnej wiadomości.</h4>
<div class="col-md-12">
     <textarea class="form-control" placeholder="Wpisz przykładową wiadomość" style="width:83%;float:left; margin-right:40px; margin-bottom:10px;margin-left:-15px; border-color:dodgerblue; font-size:20px" rows="1" id="exampleMessage"></textarea>
    <button class="btn btn-primary" id="paddingButton" type="submit" style="height:42px; float:left" disabled>Uzupełnij wiadomość</button>
</div>
<h4>Wiadomość w postaci bitów.</h4>
<div class="col-md-12">
    
        <textarea class="form-control" placeholder="Wiadomość w  bitach" style="margin-left:-15px; margin-bottom:10px;border-color:dodgerblue;background-color:white; text-align:justify; font-size:20px" rows="3" id="messageBits" disabled></textarea>
    
</div>
<h4>
    Wiadomość zawiera
    <input type="text" class="pad" name="messageLength" id="messageLength" size="4" disabled readonly />
    bitów. Aby długość wiadomości wynosiła 448 mod 512, musimy uzupełnić ją o
    <input type="text" class="pad" name="paddedBits" id="paddedBits" size="4" disabled />
    bity, ponieważ
    <input type="text" class="pad" name="messageLength2" id="messageLength2" size="4" disabled readonly />
    mod 512 =
    <input type="text" class="pad" name="modResult" id="modResult" size="4" disabled readonly />
    . Zatem dodajemy jedną '1' oraz
    <input type="text" class="pad" name="padValue" id="padValue" size="2" disabled readonly />
    zera.
</h4>

<h4> Następnie  dodajemy 64 bity wskazujące długość wiadomości:</h4>
<div class="col-md-12">
    <div class="col-md-8">
        <input type="text" class="md5" style="margin-bottom:15px;font-size:20px" size="70" id="padMessageLength" disabled />
    </div>
</div>

<h4> Wiadomość po uzupełnieniu:</h4>
<div class="col-md-12">
        <textarea class="form-control" style="margin-left:-15px; margin-bottom:10px;border-color:dodgerblue; background-color:white; text-align:justify; font-size:20px" rows="7" cols="100" id="allPadding" disabled></textarea>    
</div>

<h4 style="margin-top:15px;">
    MD5 przetwarza dane w 512-bitowych blokach. Na potrzeby wizualizacji zajmiemy się tylko jednym blokiem 512 bitów. Jeżeli twoja przykładowa wiadomość była krótsza niż 448 bitów (czyli 512 bitów po wykonaniu uzupełnienia)
    możesz zobaczyć wiadomośc po uzupełnieniu w 16 elementowej tablicy X, gdzie każdy element ma 32 bity i jest przedstawiony decymalnie. Wartości z tablicy X będą wykorzystywane w dalszych etapach obliczania skrótu.
</h4>
<div class="col-md-12">
        <button class="btn btn-primary" id="XTableButton" style="margin-bottom:15px;margin-left:-15px" disabled>Pokaż tablicę X</button>
</div>
<div class="col-md-12">
    <div class="col-md-8">
        <div  id="xTable" style="margin-bottom:25px;margin-right:25px;float:left;margin-left:-30px"></div>
        <div  id="xTable2" style="margin-bottom:25px;float:left;"></div>
    </div>
           
</div>

<h3 class="steps" style="margin-top:15px;">3. Przetwarzanie zasadnicze.</h3>
<h4>Jest to główny krok algorytmu MD5. Są 4 rundy, w każdej rundzie wykonywane jest 16 operacji. </h4>
<h4>Zdefiniowane stałe:</h4>
<h4> - słowa A, B, C, D,</h4>
<h4>
    Algorytm MD5 wymaga 128-bitowego bufora o określonej wartości początkowej. Bufor podzielony jest na
    cztery słowa (każdy po 32 bity) oznaczone jako A, B, C, D (decymalnie):
</h4>
<h4><b>Słowo A:</b> 1732584193</h4>
<h4><b>Słowo B:</b> 4023233417</h4>
<h4><b>Słowo C:</b> 2562383102</h4>
<h4><b>Słowo D:</b> 271733878</h4>

<div class="col-md-12">
    <h4 style="float:left;margin-right:30px;margin-left:-15px;"> - 64-elementowa tablica T[1...64] powstała z funkcji sinus, gdzie <i>T[i] = 4294967296 · |sin(i)|</i>.</h4>
    <button class="btn btn-primary" id="TTableButton" style="margin-bottom:15px;float:left">Pokaż tablicę T</button>
</div>

<div class="col-md-12" id="tables_T" hidden style="margin-bottom:25px">
    <table id="table_T1" style="font-size:16px;float:left;margin-right:7px">
        <tbody>
            <tr>
                <th>i</th>
                <th>T[i]</th>
            </tr>
            <tr>
                <td>1</td>
                <td>3614090360</td>
            </tr>
            <tr>
                <td>2</td>
                <td>3905402710</td>
            </tr>
            <tr>
                <td>3</td>
                <td>606105819</td>
            </tr>
            <tr>
                <td>4</td>
                <td>3250441966</td>
            </tr>
            <tr>
                <td>5</td>
                <td>4118548399</td>
            </tr>
            <tr>
                <td>6</td>
                <td>1200080426</td>
            </tr>
            <tr>
                <td>7</td>
                <td>2821735955</td>
            </tr>
            <tr>
                <td>8</td>
                <td>4249261313</td>
            </tr>
        </tbody>
    </table>

    <table id="table_T2" style="font-size:16px;float:left;margin-right:7px">
        <tbody>
            <tr>
                <th>i</th>
                <th>T[i]</th>
            </tr>
            <tr>
                <td>9</td>
                <td>1770035416</td>
            </tr>
            <tr>
                <td>10</td>
                <td>2336552879</td>
            </tr>
            <tr>
                <td>11</td>
                <td>4294925233</td>
            </tr>
            <tr>
                <td>12</td>
                <td>2304563134</td>
            </tr>
            <tr>
                <td>13</td>
                <td>1804603682</td>
            </tr>
            <tr>
                <td>14</td>
                <td>4254626195</td>
            </tr>
            <tr>
                <td>15</td>
                <td>2792965006</td>
            </tr>
            <tr>
                <td>16</td>
                <td>1236535329</td>
            </tr>
        </tbody>
    </table>
    <table id="table_T3" style="font-size:16px;float:left;margin-right:7px">
        <tbody>
            <tr>
                <th>i</th>
                <th>T[i]</th>
            </tr>
            <tr>
                <td>17</td>
                <td>4129170786</td>
            </tr>
            <tr>
                <td>18</td>
                <td>3225465664</td>
            </tr>
            <tr>
                <td>19</td>
                <td>643717713</td>
            </tr>
            <tr>
                <td>20</td>
                <td>3921069994</td>
            </tr>
            <tr>
                <td>21</td>
                <td>3593408605</td>
            </tr>
            <tr>
                <td>22</td>
                <td>38016083</td>
            </tr>
            <tr>
                <td>23</td>
                <td>3634488961</td>
            </tr>
            <tr>
                <td>24</td>
                <td>3889429448</td>
            </tr>
        </tbody>
    </table>
    <table id="table_T4" style="font-size:16px;float:left;margin-right:7px">
        <tbody>
            <tr>
                <th>i</th>
                <th>T[i]</th>
            </tr>
            <tr>
                <td>25</td>
                <td>568446438</td>
            </tr>
            <tr>
                <td>26</td>
                <td>3275163606</td>
            </tr>
            <tr>
                <td>27</td>
                <td>4107603335</td>
            </tr>
            <tr>
                <td>28</td>
                <td>1163531501</td>
            </tr>
            <tr>
                <td>29</td>
                <td>2850285829</td>
            </tr>
            <tr>
                <td>30</td>
                <td>4243563512</td>
            </tr>
            <tr>
                <td>31</td>
                <td>1735328473</td>
            </tr>
            <tr>
                <td>32</td>
                <td>2368359562</td>
            </tr>
        </tbody>
    </table>
    <table id="table_T5" style="font-size:16px;float:left;margin-right:7px">
        <tbody>
            <tr>
                <th>i</th>
                <th>T[i]</th>
            </tr>
            <tr>
                <td>33</td>
                <td>4294588738</td>
            </tr>
            <tr>
                <td>34</td>
                <td>2272392833</td>
            </tr>
            <tr>
                <td>35</td>
                <td>1839030562</td>
            </tr>
            <tr>
                <td>36</td>
                <td>4259657740</td>
            </tr>
            <tr>
                <td>37</td>
                <td>2763975236</td>
            </tr>
            <tr>
                <td>38</td>
                <td>1272893353</td>
            </tr>
            <tr>
                <td>39</td>
                <td>4139469664</td>
            </tr>
            <tr>
                <td>40</td>
                <td>3200236656</td>
            </tr>
        </tbody>
    </table>
    <table id="table_T6" style="font-size:16px;float:left;margin-right:7px">
        <tbody>
            <tr>
                <th>i</th>
                <th>T[i]</th>
            </tr>
            <tr>
                <td>41</td>
                <td>681279174</td>
            </tr>
            <tr>
                <td>42</td>
                <td>3936430074</td>
            </tr>
            <tr>
                <td>43</td>
                <td>3572445317</td>
            </tr>
            <tr>
                <td>44</td>
                <td>76029189</td>
            </tr>
            <tr>
                <td>45</td>
                <td>3654602809</td>
            </tr>
            <tr>
                <td>46</td>
                <td>3873151461</td>
            </tr>
            <tr>
                <td>47</td>
                <td>530742520</td>
            </tr>
            <tr>
                <td>48</td>
                <td>3299628645</td>
            </tr>
        </tbody>
    </table>
    <table id="table_T7" style="font-size:16px;float:left;margin-right:7px">
        <tbody>
            <tr>
                <th>i</th>
                <th>T[i]</th>
            </tr>
            <tr>
                <td>49</td>
                <td>4096336452</td>
            </tr>
            <tr>
                <td>50</td>
                <td>T1126891415</td>
            </tr>
            <tr>
                <td>51</td>
                <td>2878612391</td>
            </tr>
            <tr>
                <td>52</td>
                <td>4237533241</td>
            </tr>
            <tr>
                <td>53</td>
                <td>1700485571</td>
            </tr>
            <tr>
                <td>54</td>
                <td>2399980690</td>
            </tr>
            <tr>
                <td>55</td>
                <td>4293915773</td>
            </tr>
            <tr>
                <td>56</td>
                <td>2240044497</td>
            </tr>
        </tbody>
    </table>
    <table id="table_T8" style="font-size:16px;float:left;margin-right:7px">
        <tbody>
            <tr>
                <th>i</th>
                <th>T[i]</th>
            </tr>
            <tr>
                <td>57</td>
                <td>1873313359</td>
            </tr>
            <tr>
                <td>58</td>
                <td>4264355552</td>
            </tr>
            <tr>
                <td>59</td>
                <td>2734768916</td>
            </tr>
            <tr>
                <td>60</td>
                <td>1309151649</td>
            </tr>
            <tr>
                <td>61</td>
                <td>4149444226</td>
            </tr>
            <tr>
                <td>62</td>
                <td>3174756917</td>
            </tr>
            <tr>
                <td>63</td>
                <td>718787259</td>
            </tr>
            <tr>
                <td>64</td>
                <td>3951481745</td>
            </tr>
        </tbody>
    </table>
</div>


<h4> - cztery funkcje pomocnicze, które na wejściu mają trzy 32-bitowe słowa, a na wyjściu produkują jedno słowo 32-bitowe:</h4>
<h4><b>F(X,Y,Z)</b> = XY v not(X)Z </h4>
<h4><b>G(X,Y,Z)</b> = XZ v Y not(Z) </h4>
<h4><b>H(X,Y,Z)</b> = X xor Y xor Z </h4>
<h4><b>I(X,Y,Z)</b> = Y xor (X v not(Z)) </h4>
<h3 style="color:lightslategray"><i>Runda 1</i></h3>
<h4>
    Wyknywane jest 16 operacji, gdzie <b>[abcd k s i]</b> oznacza <i>a = b +(( a + F(b,c,d) + X[k] + T[i]) <<< s)</i>
</h4>
<h4>
    Każdorazowo porządek rejestrów ulega przesunięciu cyklicznemu o jedną pozycję. Ponadto przedostatnie argumenty (ilość pozycji o jaką dokonujemy cyklicznego przesunięcia)
    tworzy ciąg okresowy 7, 12, 17, 22, 7, 12, ....
</h4>
<table class="md5Data" style="width:60%;color:#5c9def">
    <tbody>
        <tr>
            <td>[ABCD  0  7  1]</td>
            <td>[DABC  1 12  2]</td>
            <td>[CDAB  2 17  3]</td>
            <td>[BCDA  3 22  4]</td>
        </tr>
        <tr>
            <td>[ABCD  4  7  5]</td>
            <td>[DABC  5 12  6]</td>
            <td>[CDAB  6 17  7]</td>
            <td>[BCDA  7 22  8]</td>
        </tr>
        <tr>
            <td>[ABCD  8  7  9]</td>
            <td>[DABC  9 12 10]</td>
            <td>[CDAB 10 17 11]</td>
            <td>[BCDA 11 22 12]</td>
        </tr>
        <tr>
            <td>[ABCD 12  7 13]</td>
            <td>[DABC 13 12 14]</td>
            <td>[CDAB 14 17 15]</td>
            <td>[BCDA 15 22 16]</td>
        </tr>
    </tbody>
</table>
<div class="col-md-12">
    <button class="btn btn-primary" id="calculationButton" style="margin-bottom:15px;margin-top:15px;margin-left:-15px;float:left">Pokaż przykład obliczania</button>
</div>
<div class="col-md-12" id="exampleCalculation" hidden style="margin-bottom:15px">
    <h4>
        Przykład [abcd k s i], &nbsp; &nbsp;<span style="color: #327AB7"> a</span> = b + ((<span style="color: #327AB7"> a</span>+ <span style="color: #9542CD"> F(b,c,d)</span> + <span style="color: #D9534F">X[k]</span> + <span style="color: #5CB85C">T[i]</span>) <<< s), gdzie
        <br>
        <br>
        <b>[<span style="color: #9542CD"> ABCD</span> 0 7 1]</b> &nbsp;&nbsp;&nbsp;  <span style="color: #D9534F"><b>X[k=0]</b> = 1819043144</span>  &nbsp;&nbsp;&nbsp;<span style="color: #5CB85C"><b>T[i=1]</b> = 3614090360</span>
        <br><br>
        <span style="color: #9542CD"> F(b,c,d)</span>= F(B,C,D) = BC v not(B)D = (4023233417 * 2562383102) V ( NOT(4023233417) * 271733878) = <span style="color: #9542CD">2562383102</span>
        <br><br>
        ((<span style="color: #327AB7"> a</span> + <span style="color: #9542CD"> F(b,c,d)</span> + <span style="color: #D9534F">X[k]</span> + <span style="color: #5CB85C">T[i]</span>) = <span style="color: #327AB7"> 1732584193</span> + <span style="color: #9542CD">2562383102</span> + <span style="color: #D9534F">1819043144</span> + <span style="color: #5CB85C">3614090360</span> = 9728100799
        <br><br>
        <span style="color: #808080"> (10 01000011110101110000100110111111)</span>
        <br><br>
        Powyższy wynik ma 34 bity, więc wykonujemy operację modulo, aby otrzymać wynik 32 bitowy:
        <br><br>
        9728100799 MOD (2<sup>32</sup>) = 1138166207 <span style="color: #808080"> (01000011110101110000100110111111)</span>
        <br><br>
        Następnie wykonujemy operację przesunięcia bitowego o 7 bitów:
        <br><br>
        ((<span style="color: #327AB7"> a</span> + <span style="color: #9542CD"> F(b,c,d)</span> + <span style="color: #D9534F">X[k]</span> + <span style="color: #5CB85C">T[i]</span>) <<< s) = 1138166207 <<< 7 = 3951353761
        <br><br>
            <span style="color: #808080">(01000011110101110000100110111111 <<< 7 = 11101011100001001101111110100001)</span>
        <br><br>
        Na koniec otrzymany wynik dodajemy modulo z b:
        <br><br>
        <span style="color: #327AB7"> a</span> = b + ((<span style="color: #327AB7"> a</span> + <span style="color: #9542CD"> F(b,c,d)</span> + <span style="color: #D9534F">X[k]</span> + <span style="color: #5CB85C">T[i]</span> <<< s) = (4023233417 + 3951353761) MOD (2<sup>32</sup>) = 3679619882
        <br><br>
        Teraz <span style="color: #327AB7"> <b>a</b></span> jest równe <span style="color: #327AB7"> <b>3679619882</b></span>. Natomiast wartości rejestrów <b>b</b>, <b>c</b> i <b>d</b> nie ulegają zmianie.
    </h4>
</div>

<h3 style="color:lightslategray"><i>Runda 2</i></h3>
<h4>
    Wyknywane jest 16 operacji, gdzie <b>[abcd k s i]</b> oznacza <i>a = b +(( a + G(b,c,d) + X[k] + T[i]) <<< s)</i>
</h4>
<h4>
    Przebiega podobnie jak runda 1. Zamiast procedury F, stosowana jest procedura G. Przesunięcie tworzy ciąg okresowy 5, 9, 14, 20.
</h4>
<table class="md5Data" style="width:60%;color:#5c9def">
    <tbody>
        <tr>
            <td>[ABCD  1  5 17]</td>
            <td>[DABC  6  9 18]</td>
            <td>[CDAB 11 14 19]</td>
            <td>[BCDA  0 20 20]</td>
        </tr>
        <tr>
            <td>[ABCD  5  5 21]</td>
            <td>[DABC 10  9 22]</td>
            <td>[CDAB 15 14 23]</td>
            <td>[BCDA  4 20 24]</td>
        </tr>
        <tr>
            <td>[ABCD  9  5 25]</td>
            <td>[DABC 14  9 26]</td>
            <td>[CDAB  3 14 27]</td>
            <td>[BCDA  8 20 28]</td>
        </tr>
        <tr>
            <td>[ABCD 13  5 29]</td>
            <td>[DABC  2  9 30]</td>
            <td>[CDAB  7 14 31]</td>
            <td>[BCDA 12 20 32]</td>
        </tr>
    </tbody>
</table>
<h3 style="color:lightslategray"><i>Runda 3</i></h3>
<h4>
    Wyknywane jest 16 operacji, gdzie <b>[abcd k s i]</b> oznacza <i>a = b + (( a + H(b,c,d) + X[k] + T[i]) <<< s)</i>
</h4>
<h4>
    Przebiega z analogicznymi zmianami. Używana jest procedura H. Przesunięcie tworzy ciąg okresowy 4, 11, 16, 23.
</h4>
<table class="md5Data" style="width:60%;color:#5c9def">
    <tbody>
        <tr>
            <td>[ABCD  5  4 33]</td>
            <td>[DABC  8 11 34]</td>
            <td>[CDAB 11 16 35]</td>
            <td>[BCDA 14 23 36]</td>
        </tr>
        <tr>
            <td>[ABCD  1  4 37]</td>
            <td>[DABC  4 11 38]</td>
            <td>[CDAB  7 16 39]</td>
            <td>[BCDA 10 23 40]</td>
        </tr>
        <tr>
            <td>[ABCD 13  4 41]</td>
            <td>[DABC  0 11 42]</td>
            <td>[CDAB  3 16 43]</td>
            <td>[BCDA  6 23 44]</td>
        </tr>
        <tr>
            <td>[ABCD  9  4 45]</td>
            <td>[DABC 12 11 46]</td>
            <td>[CDAB 15 16 47]</td>
            <td>[BCDA  2 23 48]</td>
        </tr>
    </tbody>
</table>
<h3 style="color:lightslategray"><i>Runda 4</i></h3>
<h4>
    Wyknywane jest 16 operacji, gdzie <b>[abcd k s i]</b> oznacza <i>a = b+(( a + I(b,c,d) + X[k] + T[i]) <<< s)</i>
</h4>
<h4>
    Używana jest procedura I. Przesunięcie tworzy ciąg okresowy 6, 10, 15, 21.
</h4>
<table class="md5Data" style="width:60%;color:#5c9def">
    <tbody>
        <tr>
            <td>[ABCD  0  6 49]</td>
            <td>[DABC  7 10 50]</td>
            <td>[CDAB 14 15 51]</td>
            <td>[BCDA  5 21 52]</td>
        </tr>
        <tr>
            <td>[ABCD 12  6 53]</td>
            <td>[DABC  3 10 54]</td>
            <td>[CDAB 10 15 55]</td>
            <td>[BCDA  1 21 56]</td>
        </tr>
        <tr>
            <td>[ABCD  8  6 57]</td>
            <td>[DABC 15 10 58]</td>
            <td>[CDAB  6 15 59]</td>
            <td>[BCDA 13 21 60]</td>
        </tr>
        <tr>
            <td>[ABCD  4  6 61]</td>
            <td>[DABC 11 10 62]</td>
            <td>[CDAB  2 15 63]</td>
            <td>[BCDA  9 21 64]</td>
        </tr>
    </tbody>
</table>

<h4 style="margin-top:10px;">
    Jeżeli twoja przykładowa wiadomość była krótsza niż 448 bitów (czyli 512 bitów po wykonaniu uzupelnienia) możesz zobaczyć przebieg poczczególnych rund w tabeli.
</h4>

<div class="col-md-12">
        <button class="btn btn-primary" id="showRoundsButton" style="margin-bottom:15px;margin-left:-15px" disabled>Pokaż stan rejestrów</button>
    </div>
<div class="registers" id="registersTable" style="margin-left:220px" hidden></div>

<h4 style="margin-top:10px;">
    Ostateczna wartość rejestrów otrzymywana jest poprzez dodanie zainicjowanej na początku wartości rejestru do wartości rejestru po przetwarzaniu:
</h4>
<table  class="md5Data" style="width:40%">
    <tbody>
        <tr>
            <td> <b>A</b> = A + AA</td>
            <td> <b>B</b> = B + BB</td>
            <td> <b>C</b> = C + CC</td>
            <td> <b>D</b> = D + DD</td>
        </tr>
    </tbody>
</table>
<div id="transformations" hidden>
    <h4>
        A = (1732584193 +
        <input type="text" class="md5" id="AA" size="9" disabled />
        ) MOD 2<sup>32</sup>=
        <input type="text" class="md5" id="endA" size="9" disabled />
        =
        <input type="text" class="md5" id="endA_Bin" size="30" disabled />
        =
        <input type="text" class="md5" id="endA_Hex" size="9" style="font-weight:bold" disabled />
    </h4>
    <h4>
        B = (4023233417 +
        <input type="text" class="md5" id="BB" size="9" disabled />
        ) MOD 2<sup>32</sup>=
        <input type="text" class="md5" id="endB" size="9" disabled />
        =
        <input type="text" class="md5" id="endB_Bin" size="30" disabled />
        =
        <input type="text" class="md5" id="endB_Hex" size="9" style="font-weight:bold" disabled />
    </h4>
    <h4>
        C = (2562383102 +
        <input type="text" class="md5" id="CC" size="9" disabled />
        ) MOD 2<sup>32</sup>=
        <input type="text" class="md5" id="endC" size="9" disabled />
        =
        <input type="text" class="md5" id="endC_Bin" size="30" disabled />
        =
        <input type="text" class="md5" id="endC_Hex" size="9" style="font-weight:bold" disabled />
    </h4>
    <h4>
        D = (271733878 &nbsp;&nbsp;+
        <input type="text" class="md5" id="DD" size="9" disabled />
        ) MOD 2<sup>32</sup>=
        <input type="text" class="md5" id="endD" size="9" disabled />
        =
        <input type="text" class="md5" id="endD_Bin" size="30" disabled />
        =
        <input type="text" class="md5" id="endD_Hex" size="9" style="font-weight:bold" disabled />
    </h4>
</div>

<h3 class="steps" style="margin-top:15px;">4. Wyjście.</h3>
<h4>
    Skrót wiadomości powstaje poprzez połączenie wartości rejestrów A, B, C, D w kolejności od najmniej znaczącego bajtu rejestru A do najbardziej znaczącego bajtu rejestru D
    (pamiętaj, że jeden bajt to 2 znaki heksadecymalne).
</h4>
<div class="col-md-12" style="margin-left:-15px;">
    <div class="col-md-3" style="margin-left:-15px;">
        <table id="registersOrder">
            <tbody>
                <tr>
                    <th style="width:40px;font-size:18px"> <b>A</b></th>
                    <td style="width:40px;font-size:18px"> 4</td>
                    <td style="width:40px;font-size:18px"> 3</td>
                    <td style="width:40px;font-size:18px"> 2</td>
                    <td style="width:40px;font-size:18px"> 1</td>
                </tr>
                <tr>
                    <th style="width:40px;font-size:18px"> <b>B</b></th>
                    <td style="width:40px;font-size:18px">6</td>
                    <td style="width:40px;font-size:18px">7</td>
                    <td style="width:40px;font-size:18px">6</td>
                    <td style="width:40px;font-size:18px">5</td>
                </tr>
                <tr>
                    <th style="width:40px;font-size:18px"> <b>C</b></th>
                    <td style="width:40px;font-size:18px">12</td>
                    <td style="width:40px;font-size:18px">11</td>
                    <td style="width:40px;font-size:18px">10</td>
                    <td style="width:40px;font-size:18px">9</td>
                </tr>
                <tr>
                    <th style="width:40px;font-size:18px"> <b>D</b></th>
                    <td style="width:40px;font-size:18px">16</td>
                    <td style="width:40px;font-size:18px">15</td>
                    <td style="width:40px;font-size:18px">14</td>
                    <td style="width:40px;font-size:18px">13</td>
                </tr>
            </tbody>
        </table>
        <label id="order">Kolejność odczytywania bajtów</label>
    </div>
    <div class="col-md-6">
        <div id="registersFinal"></div>
        <label id="finalLabel" hidden>Wartość końcowa rejestrów (Hex)</label>
    </div>
</div>
<div id="messageHash" style="margin-top:20px"></div>

<script>
     var md5Visualization = MD5VisualizationInit({
        urls: {
            paddingUrl: '@Url.Action("MD5_Padding", "HashFunctions")',
            tableUrl: '@Url.Action("MD5_Table", "HashFunctions")',
            XtableUrl: '@Url.Action("MD5_X_Table", "HashFunctions")'

        }
    });

    md5Visualization.init();

</script>