@model CryptoWebService.Models.HashFunctions.MD5ViewModel
@using CryptoWebService.Backend.HashFunctions
@{
    ViewData["Title"] = "MDC";
}
<script src="~/js/hash/HashFunctions.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/hash_functions.css">

    <h2 class="title" align="center">@Text.WithoutKey</h2>
    <div class="description">
        <b>Funkcje skrótu</b> zwane także funkcjami haszującymi pobierają na wejściu dowolnie długą wiadomość i tworzą krótki,
        ustalonej długości wynik nazywany skrótem. Funkcje te są używane do 
        <i> podpisów cyfrowych, szyfrowania z kluczem publicznym, weryfikowania integralności, uwierzytelniania komunikatów, ochrony haseł, protokołów
        uzgadniania klucza</i>  i wielu innych protokołów kryptograficznych.
        <br />
        Funkcję <b>h</b> nazywamy funkcją skrótu, jeśli ma co najmniej trzy właściwości:
        <br>
        <br>
        <h4 style="margin:0px;"> <b>KOMPRESJA</b></h4>
        - <i>h</i> przekształca wejście <i>x</i> o dowolnej długości na wyjście <i>h(x)</i> o ustalonej długości,
        <br><br>
        <h4 style="margin:0px;"><b>ŁATWOŚĆ OBLICZEŃ</b></h4>
        - dla danej funkcji <i>h</i> i wejścia <i>x</i> wartość <i>h(x)</i> jest łatwo obliczalna, w czasie wielomoianowym,
        <br><br>
        <h4 style="margin:0px;"><b>JEDNOKIERUNKOWOŚĆ</b></h4>
        - dla prawie wszystkich wartości jest obliczeniowo trudne znalezienie argumentu dającego jako skrót tę wartość.
        <br />
        <br />
        Ogólny schemat działania funkcji skrótu:
    </div>
    <div class="col-md-12" style="margin-top:20px;">
        <div align="center">
            <img src="~/images/HashFunctionSchema.png">
        </div>
    </div>