<script src="~/js/hash/HashFunctions.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/hash_functions.css">

<div class="container">
    <div class="tab">
        <div class="tab">
            <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
            <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        </div>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">SHA-3 (Keccak)</h2>
        <p class="description">
           W 2009 roku NIST ogłosił konkurs na funkcję skrótu <b>SHA-3</b>. W 2012 roku zwycięzcą został algorytm Keccak. Funkcja SHA-3 ma inną budowę od swoich przedników.
           Różnicą jest funkcja gąbki. Podstawowy algorytm Keccaka to permutacja stanu 1600-bitowego (25 słów 64-bitowych), który przyjmuje bloki złożone z 1152, 1088, 832, i 517 bitów, tworząc odpowiednio
            224, 256, 384, i 512 bitów. SHA-3 w odróżnieniu do SHA-2, wykorzystuje dla wszystkich czterech długości skrótu jeden podstawowy algorytm zamiast dwóch. 

        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_SHA3Partial")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
