<script src="~/js/hash/HashFunctions.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/hash_functions.css">

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title" >@Text.SHA512Hash</h2>
        <p class="description">
            <b>SHA-2</b> to zestaw kryptograficznych funkcji skrótu (<i>SHA-224, SHA-256, SHA-384, SHA-512</i>) dających skróty wielkości 224, 256, 384 lub 512 bitów.
            Skrót wiadomości w <b>SHA-512</b> ma długość 512 bitów. Wiadomość przetwarzana jest w 1024-bitowych blokach, operacje wykonywane są na 64-bitowych słowach.
            Algorytm przetwarzania składa się z 80 rund. Funkcja kompresji jest podobna do tej z SHA-256, z tym że są inne odległości rotacji, aby poradzić sobie z większymi słowami.
            <br><br>
            SHA-384 jest algorytmicznie identyczny z SHA-512. Różnica między nimi polega jedynie na tym, że mają inną wartość poczatkową i tworzą skróty różnej długości.

        </p>
    </div>

    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_SHA512Partial")
    </div>




</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>
