
@{
    ViewData["Title"] = "Secret";
}
<script src="https://cdn.rawgit.com/konvajs/konva/2.4.0/konva.min.js"></script>

<h2 class="page-header">Kryptografia Wizualna</h2>
<div class=" col-lg-12">
    <div class="body-content">
        Kryptografia Wizualna jest to technika którą pozwala na zaszyfrowanie informacji w obrazie.
        Do deszyfracji używamy wzroku.

        Poniżej zostaną opisane dwie techniki:
        superpozycja
        blablaba
    </div>

</div>


<div id="Secret" class=" col-lg-12">
    <div id="container" class="myCanvas">


    </div>
</div>

<style>
    .myCanvas {
        background-color: #F0F0F0;
    }
</style>


<script>
    var x = document.getElementById("container");
    var width = x.offsetWidth;
    var height = window.innerHeight;

    var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height

    });
    var layer = new Konva.Layer();
    stage.add(layer);

    LoadImageToLayer(layer,'/images/1.bmp');
    LoadImageToLayer(layer,'/images/2.bmp');

    layer.on('mouseover', function (evt) {
        var shape = evt.target;
        document.body.style.cursor = 'pointer';
        layer.draw();
    });

    layer.on('mouseout', function (evt) {
        var shape = evt.target;
        document.body.style.cursor = 'default';
        shape.scaleX(1);
        shape.scaleY(1);
        layer.draw();
    });

    function LoadImageToLayer(layer, path) {
        var KonvoImage = new Konva.Image({
            draggable: true,
            opacity: 0.6
        });
        layer.add(KonvoImage);

        var image = new Image();
        image.onload = function () {
            KonvoImage.image(image);
            layer.draw();
        };
        image.src = path;
    }

</script>

<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>