@using CryptoWebService.Helpers;
@model PageViewModel;


<h2 class="title">Kryptografia wizualna</h2>
<div class="description">
    Kryptografia wizualna to technika, która pozwala ukryć informacje będące obrazem np.
    zdjęcie lub dokument poprzez podział na udziały. Poprzez udział należy rozumieć jedną z
    części zaszyfrowanego obrazu. Odczytywanie ukrytych informacji odbywa się za pomocą wzroku,
    nakładając na siebie wymaganą liczbę udziałów. W zależności  od  metody  mogą  być  wymagane
    wszystkie  udziały  lub  tylko  określona liczba ze wszystkich udziałów. Przykładowy wygląd
    udziałów i efekt uzyskany ponałożeniu ich na siebie został przedstawiony poniżej.
    <br class="col-lg-12">
    <br class="col-lg-12">
    <div class="body-content">
        <div class="FlexControl">
            @{
                await Html.RenderPartialAsync(ViewControlsHelper.GetVisualCryptographyControlPath("AnimationControl"), Model.AnimationList[0]);
            }
        </div>
        <div class="FlexControl">
            <p>
                Kryptografia wizualna animacja
            </p>
        </div>
    </div>
    <h3 class="panel-group">Obraz czarno biały</h3>
    Algorytm  podziału  czarno-białego  obrazu  na  dwa  udziały  polega
    na  zastąpieniu każdego piksela obrazu ukrywanego, dwoma pikselami o różnych
    kolorach (czarny i przeźroczysty) i stworzenia z nich 2 udziałów.
    <br class="col-lg-12">
    <br class="col-lg-12">
    W omawianej metodzie mamy do wyboru dwa warianty zakodowania każdego piksela.
    W  celu  zwiększenia bezpieczeństwa,  decyzja  o  tym  gdzie znajduje się czarny
    piksel jest podejmowana losowo. Prawdopodobieństwo wybrania jednej ze stron jest
    jednakowo prawdopodobne co wybranie drugiej strony.
    <br class="col-lg-12">
    <br class="col-lg-12">
    <div class="body-content">
        <div class="FlexControl">
            @{
                await Html.RenderPartialAsync(ViewControlsHelper.GetVisualCryptographyControlPath("ImageControl"), Model.ImageList[0]);
            }
        </div>
        <div class="FlexControl">
            <p>
                Warianty kodowania piksela
            </p>
        </div>
    </div>
    <br class="col-lg-12">
    Jeżeli piksel, który chcemy zakodować jest biały lub przeźroczysty, to na oby-dwóch
    udziałach  czarny  subpiksel  powinien  znajdować  się  w  tym  samym  miejscu.
    Podczas odszyfrowywania – nałożenia na siebie dwóch udziałów, kolor biały zostanie zastąpiony
    kolorem czarnym i przeźroczystym. Będzie to dawało efekt koloru szarego.
    <br class="col-lg-12">
    <br class="col-lg-12">
    <div class="body-content">
        <div class="FlexControl">
            @{
                await Html.RenderPartialAsync(ViewControlsHelper.GetVisualCryptographyControlPath("ImageControl"), Model.ImageList[1]);
            }
        </div>
        <div class="FlexControl">
            <p>
                Warianty kodowania białego piksela
            </p>
        </div>
    </div>
    Jeżeli  kodujemy  piksel  koloru  czarnego,  to  piksele  w  udziale  2  powinny  być przeciwne
    do pikseli z udziału pierwszego. To znaczy jeśli w udziale pierwszym kolor czarny jest po
    lewej stronie, to w udziale drugim powinien być po prawej stronie. Po nałożeniu tak
    skonstruowanych udziałów, czarne piksele nakryją przeźroczyste i uzyskamy kolor czarny
    w obrazie dekodowanym .
    <br class="col-lg-12">
    <br class="col-lg-12">
    <div class="body-content">
        <div class="FlexControl">
            @{
                await Html.RenderPartialAsync(ViewControlsHelper.GetVisualCryptographyControlPath("ImageControl"), Model.ImageList[2]);
            }
        </div>
        <div class="FlexControl">
            <p>
                Warianty kodowania czarnego piksela
            </p>
        </div>
    </div>
    <br class="col-lg-12">
    <br class="col-lg-12">
    Zaprezentowana powyżej metoda pozwala szyfrować czarno-biały obraz za pomocą dwóch udziałów.
    Metoda ta ma jednak wadę – rozciąga nasz obraz w kierunkupoziomym.
    Jest to spowodowane zastępowaniem jednego piksela dwoma.
    <br class="col-lg-12">
    <br class="col-lg-12">
    <div class="FlexControl">
        <div class="text-center" style="margin-right:20px;">
            <img src="~/images/Description/VisualCryptography/VisualCryptography/rozciagniety_befor.png" />

            <p>
                Obraz wejściowy
            </p>
        </div>
        <div class="text-center" style="margin-left:20px;">
            <img src="~/images/Description/VisualCryptography/VisualCryptography/rozciagniety_after.png" />
            <p>
                Obraz odszyfrowany
            </p>
        </div>
    </div>
    <br class="col-lg-12">
    Możemy  uniknąć  zniekształcenia  w  jednym  kierunku,  zastępując  piksele  kodowane nie dwoma,
    ale czterema pikselami ułożonymi w kwadrat. Ta metoda jest odrobinę wolniejsza, ale nie zmienia
    proporcji obrazu i dzięki zwiększeniu liczby pikseli szyfrujących udziały są bardziej bezpieczne.
    <br class="col-lg-12">
    <br class="col-lg-12">
    Schemat działania jest bardzo podobny. Mamy 6 macierzy służących do kodowania jednego piksela,
    macierz którą zakodujemy dany piksel jest wybierana losowo. Piksel biały kodujemy
    tą samą macierzą na oby dwóch udziałach,a podczas kodowania piksela czarnego udział drugi kodujemy
    macierzą przeciwną do macierzy, którą zakodowaliśmy udział 1.
    <br class="col-lg-12">
    <br class="col-lg-12">
    <div class="body-content">
        <div class="FlexControl">
            @{
                await Html.RenderPartialAsync(ViewControlsHelper.GetVisualCryptographyControlPath("ImageControl"), Model.ImageList[3]);
            }
        </div>
        <div class="FlexControl">
            <p>
                Możliwe zastąpienia piksela kodowanego
            </p>
        </div>
    </div>


    <h3 class="panel-group">Zastosowanie</h3>

    Kryptografia wizualna może zostać zastosowana wszędzie tam, gdzie chcemy rozdzielić informację na
    kilka osób i pozwolić na jej odczyt wyłącznie, gdy wszystkie osoby będą razem.
</div>


