@using CryptoWebService.Helpers;


<h2 class="title">steganografia</h2>
<div class="description">
    Steganografia to technika ukrywania informacji poprzez osadzanie jednych wiadomości w
    innych. Dzięki niej możemy ukrywać wiadomości w obrazie w sposób niewidoczny dla odbiorcy.
    <br class="col-lg-12">
    <br class="col-lg-12">
    <h3 class="panel-group">Metoda najmniej znaczącego bitu</h3>
    Jedną z najprostszych metod steganograficznych jest algorytm polegający
    na zmianie najmniej znaczących bitów opisujących dany piksel na bity
    ukrywanej wiadomości. Zmiany w obrazie są niewidoczne i porównując
    obraz wejściowy i obraz z zaszyfrowaną wiadomością niemożliwe jest
    ich rozróżnienie. Im więcej bitów zostanie przeznaczone
    na kodowanie, tym modyfikacja obrazu będzie bardziej widoczna.
    <br class="col-lg-12">
    <br class="col-lg-12">
    <div class="FlexControl">
        <div class="text-center" style="margin-right:20px;">
            <img src="~/images/Description/VisualCryptography/steganography/before.png" />
            <p>
                Obraz wejściowy
            </p>
        </div>
        <div class="text-center" style="margin-left:20px;">
            <img src="~/images/Description/VisualCryptography/steganography/after.png" />
            <p>
                Obraz z zaszyfrowaną wiadomością
            </p>
        </div>
    </div>
    Jeżeli  obraz  mający  zakodowane  informacje  za  pomocą  tej  metody
    zostanie poddany kompresji, wygładzeniu, zmianie kolorów, skalowaniu,
    poprawie kontrastu lub innej czynności wpływającej na obraz, wszystkie
    dane w nim zawarte najprawdopodobniej przepadną i nie
    będziemy w stanie odkodować informacji.
    <br class="col-lg-12">
    <br class="col-lg-12">
    <h3 class="panel-group">Zastosowanie</h3>
    Steganografia idealnie sprawdza się w oznaczaniu obrazów znakami
    cyfrowymi. Dodatkowo może też służyć jako kanał komunikacyjny
    np. nie chcąc wysyłać siecią jawnego  szyfrogramu,  możemy
    dodatkowo  ukryć  go  w  niepozornie  wyglądającym obrazie.
</div>

