@using CryptoWebService.Helpers;


<div class="col-lg-12">
    <label class="text-center" style="font-size: 30px;  color: #1c5aa6;">Algorytm najmniej znaczącego bitu</label>
    <div class="body-content" style="font-size:18px; margin-top:30px; margin-bottom:30px;">
        Steganografia to technika ukrywania informacji poprzez osadzanie jednych wia-domości  w
        innych.  Dzięki  niej  możemy  ukrywać  wiadomości  w  obrazie  w  sposóbniewidoczny dla odbiorcy [5].
    </div>
    <h3 class="panel-group">Metoda najmniej znaczącego bitu</h3>

    <div class="body-content" style="font-size:18px; margin-top:30px;">
        Jedną z najprostszych metod steganograficznych jest algorytm polegający
        nazmianie najmniej znaczących bitów opisujących dany piksel na bity
        ukrywanej wia-domości. Zmiany w obrazie są niewidoczne i porównując
        obraz wejściowy i obraz zzaszyfrowaną wiadomością niemożliwe jest
        ich rozróżnienie (rysunek 47). Im więcejbitów zostanie przeznaczone
        na kodowanie, tym modyfikacja obrazu będzie bardziejwidoczna [11].
    </div>
    <div class="body-content">
        Jeżeli  obraz  mający  zakodowane  informacje  za  pomocą  tej  metody
        zostaniepoddany kompresji, wygładzeniu, zmianie kolorów, skalowaniu,
        poprawie kontrastulub innej czynności wpływającej na obraz, wszystkie
        dane w nim zawarte najpraw-dopodobniej przepadną i nie
        będziemy w stanie odkodować informacji.
    </div>

    <div>
        <br />
        <br />
    </div>
    <h3 class="panel-group">Zastosowanie</h3>
    <div class="body-content">
        Steganografia idealnie sprawdza się w oznaczaniu obrazów znakami
        cyfrowymi.Dodatkowo może też służyć jako kanał komunikacyjny
        np. nie chcąc wysyłać sieciąjawnego  szyfrogramu,  możemy
        dodatkowo  ukryć  go  w  niepozornie  wyglądającymobrazie.
    </div>
</div>

