@using CryptoWebService.Backend.ClassicalCiphers
<link rel="stylesheet" type="text/css" href="~/css/ciphers_visualization.css">



<h2 class="title">Szyfr Bacona wizualizacja</h2>
<div class="col-md-12" style="margin-top:30px; margin-bottom: 71px">
    <row>
        <div class="col-md-8">
            <textarea maxlength="50" placeholder="Wpisz tekst do zaszyfrowania" class="form-control" rows="1" id="inputCipher"></textarea>
        </div>
        <div>
            <button id="startButton" style="float: left; margin-right:10px;" class="btn btn-primary" disabled>Wizualizacja</button>
            <button id="nextButton" style="float: left;" class="btn btn-success" disabled>Następny krok</button>
        </div>
    </row>
</div>

    <div class="col-md-11" style="margin-left:12px;margin-top: -50px; margin-bottom:18px">
        <div class="tableHorizontal">
            <div id="cipherOutput"></div>
        </div> 
    </div>

    <div class="col-md-12">
        <table id="part-1" class="bacon" align="center" width="150" style="margin-left:15px;margin-right:25px">
            <tr>
                <td>A</td>
                <td>aaaaa</td>
            </tr>
            <tr>
                <td>B</td>
                <td>aaaab</td>
            </tr>
            <tr>
                <td>C</td>
                <td>aaaba</td>
            </tr>
            <tr>
                <td>D</td>
                <td>aaabb</td>
            </tr>
            <tr>
                <td>E</td>
                <td>aabaa</td>
            </tr>
            <tr>
                <td>F</td>
                <td>aabab</td>
            </tr>
        </table>
        <table id="part-2" class="bacon" align="center" width="150" style="margin-right:25px">
            <tr>
                <td>G</td>
                <td>aabba</td>
            </tr>
            <tr>
                <td>H</td>
                <td>aabbb</td>
            </tr>
            <tr>
                <td>I / J</td>
                <td>abaaa</td>
            </tr>
            <tr>
                <td>K</td>
                <td>abaaa</td>
            </tr>
            <tr>
                <td>L</td>
                <td>ababa</td>
            </tr>
            <tr>
                <td>M</td>
                <td>ababb</td>
            </tr>
        </table>
        <table id="part-3" class="bacon" align="center" width="150" style="margin-right:25px">
            <tr>
                <td>N</td>
                <td>abbaa</td>
            </tr>
            <tr>
                <td>O</td>
                <td>abbab</td>
            </tr>
            <tr>
                <td>P</td>
                <td>abbba</td>
            </tr>
            <tr>
                <td>Q</td>
                <td>abbbb</td>
            </tr>
            <tr>
                <td>R</td>
                <td>baaaa</td>
            </tr>
            <tr>
                <td>S</td>
                <td>baaab</td>
            </tr>
        </table>
        <table id="part-4" class="bacon" align="center" width="150" style="margin-right:25px">
            <tr>
                <td>T</td>
                <td>baaba</td>
            </tr>
            <tr>
                <td>U / V</td>
                <td>baabb</td>
            </tr>
            <tr>
                <td>W</td>
                <td>babaa</td>
            </tr>
            <tr>
                <td>X</td>
                <td>babab</td>
            </tr>
            <tr>
                <td>Y</td>
                <td>babba</td>
            </tr>
            <tr>
                <td>Z</td>
                <td>babbb</td>
            </tr>
        </table>
    </div>


    <div>
        <textarea class="form-control" rows="1" id="stepNumber" style="display:none">1</textarea>
    </div>
    <div>
        <textarea class="form-control" rows="1" id="indexNumber" style="display:none">0</textarea>
    </div>


    <script>
      //Ajax
    var baconInit = BaconVisualizationInit({
        urls: {
            visualizationUrl: '@Url.Action("BaconVisualization", "ClassicalCiphers")',
        }
    });

    baconInit.init();
    </script>
