<link rel="stylesheet" type="text/css" href="~/css/ciphers_visualization.css">

<h2 align="center">Szyfr transpozycji kolumn wizualizacja</h2>
<div class="col-md-12" style="margin-top:15px;margin-bottom:25px">
    <row>
        <div class="col-md-8" style="margin-bottom:30px;margin-top:10px;">
            <label for="keyVisualization">@Text.Key</label>
            <textarea class="form-control" rows="1" id="keyVisualization"></textarea>
        </div>
        <div class="col-md-8">
            <textarea maxlength="50000" placeholder="Wpisz tekst do zaszyfrowania" class="form-control" rows="2" id="inputCipher"></textarea>
        </div>
        <div>
            <button id="startButton" style="float: left; margin-right:10px;" class="btn btn-primary" disabled>Wizualizacja</button>
            <button id="nextButton" style="float: left;" class="btn btn-success" disabled>Następny krok</button>
        </div>
    </row>
</div>

<div class="col-md-12" style="margin-left:16px">
    <row>
        <div>
            <div id="sortedKey"></div>
            <label id="labelSortedKey" hidden>Klucz posortowany alfabetycznie z nadanymi numerami</label>
        </div>
        <div>
            <div id="numeredKey" style="margin-top:20px"></div>
        </div>
        <div>
            <div id="encryptMatrix" style="margin-top:5px"></div>
            <label id="labelEncryptMatrix" hidden>Tabela wypełniona tekstem do zaszyfrowania</label>
        </div>
    </row>
</div>
       

<div class="col-md-12">
    <div class="col-md-8" style="margin-top:40px;">
        <textarea maxlength="50000" placeholder="Zaszyfrowany tekst" class="form-control" rows="2" id="outputCipher"></textarea>
    </div>
</div>

<div>
    <textarea class="form-control" rows="1" id="stepNumber" style="display:none">1</textarea>
</div>

<script>
      //Ajax
    var columnarTranspositionInit = ColumnarTranspositionVisualizationInit({
        urls: {
            visualizationUrl: '@Url.Action("ColumnarTranspositionVisualization", "ClassicalCiphers")',
        }
    });

    columnarTranspositionInit.init();
</script>