<script src="~/js/ciphers/ClassicalCiphers.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/site.css">

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Szyfr afiniczny</h2>
        <p class="description">
            <b>Szyfr afiniczny</b> jest monoalfabetycznym szyfrem podstawieniowym. Pierwszym krokiem w procesie szyfrowania jest przekształcenie każdej litery alfabetu
            w odpowiednią liczbę całkowitą z zakresu od 0 do m-1. Następnie proces szyfrowania dla każdej litery jest określony wzorem:
            <br>
            <br>
            <strong style="font-size:22px"> E(x) = (ax + b) mod m </strong>
            <br>
            <br>
            , gdzie <strong>a</strong> oraz <strong>b</strong> są kluczami szyfru natomiast <strong>m</strong> to długość alfabetu. Wykonywana jest operacja <strong>mod m</strong>, aby otrzymać liczbę krótszą od długości alfabetu.
        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_AffinePartial")
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_AffineVisualization")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>