<script src="~/js/ciphers/ClassicalCiphers.js"></script>

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Szyfr Bacon'a</h2>
        <p class="description">
            Szyfr Bacon'a został wynaleziony w 1605 roku przez angielskiego filozofa i pisarza - Francisa Bacon'a. Jest to szyfr podstawieniowy, w którym
            każdej literze alfabetu przypisany jest 5-cyfrowy ciąg liter "a" i "b". Za ich pomocą koduje się informację.
            Szyfrowanie i deszyfrowanie przebiega według schematu w tabeli. Znaki 'I' i 'J' oraz 'U' i 'V' traktowane są tak samo. Znaki specjalne nie są szyfrowane.
        </p>
        <div class="col-md-12">
            <div class="col-md-8">
                <table id="part-1" class="bacon" align="center">
                    <tr>
                        <th style="color:#5c9def">Znak</th>
                        <th style="color:#5c9def">Kod</th>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>aaaaa</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>aaaab</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>aaaba</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>aaabb</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>aabaa</td>
                    </tr>
                </table>
                <table id="part-2" class="bacon" align="center">
                    <tr>
                        <th style="color:#5c9def">Znak</th>
                        <th style="color:#5c9def">Kod</th>
                    </tr>
                    <tr>
                    <tr>
                        <td>F</td>
                        <td>aabab</td>
                    </tr>
                    <tr>
                        <td>G</td>
                        <td>aabba</td>
                    </tr>
                    <tr>
                        <td>H</td>
                        <td>aabbb</td>
                    </tr>
                    <tr>
                        <td>I / J</td>
                        <td>abaaa</td>
                    </tr>
                    <tr>
                        <td>K</td>
                        <td>abaaa</td>
                    </tr>
                </table>
                <table id="part-3" class="bacon" align="center">
                    <tr>
                        <th style="color:#5c9def">Znak</th>
                        <th style="color:#5c9def">Kod</th>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>ababa</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>ababb</td>
                    </tr>
                    <tr>
                        <td>N</td>
                        <td>abbaa</td>
                    </tr>
                    <tr>
                        <td>O</td>
                        <td>abbab</td>
                    </tr>
                    <tr>
                        <td>P</td>
                        <td>abbba</td>
                    </tr>
                </table>
                <table id="part-4" class="bacon" align="center">
                    <tr>
                        <th style="color:#5c9def">Znak</th>
                        <th style="color:#5c9def">Kod</th>
                    </tr>
                    <tr>
                        <td>Q</td>
                        <td>abbbb</td>
                    </tr>
                    <tr>
                        <td>R</td>
                        <td>baaaa</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>baaab</td>
                    </tr>
                    <tr>
                        <td>T</td>
                        <td>baaba</td>
                    </tr>
                    <tr>
                        <td>U / V</td>
                        <td>baabb</td>
                    </tr>
                </table>
                <table id="part-5" class="bacon" align="center">
                    <tr>
                        <th style="color:#5c9def">Znak</th>
                        <th style="color:#5c9def">Kod</th>
                    </tr>
                    <tr>
                        <td>W</td>
                        <td>babaa</td>
                    </tr>
                    <tr>
                        <td>X</td>
                        <td>babab</td>
                    </tr>
                    <tr>
                        <td>Y</td>
                        <td>babba</td>
                    </tr>
                    <tr>
                        <td>Z</td>
                        <td>babbb</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_BaconPartial")
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_BaconVisualization")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>