<script src="~/js/ciphers/ClassicalCiphers.js"></script>

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Szyfr Cezara</h2>
        <p class="description">
            <b>Szyfr Cezara</b> jest szyfrem przestawieniowym. Każda litera tekstu jawnego zastępowana jest inną, oddaloną od niej o stałą liczbę pozycji w alfabecie.
            Kluczem nazywamy liczbę informującą, o ilości liter do przesunięcia. W przypadku ostatnich liter alfabetu, przechodzi się do początku. Szyfr można opisać w sposób
            matematyczny. Pierwszym krokiem w procesie szyfrowania jest przekształcenie każdej litery alfabetu w odpowiednią liczbę całkowitą z zakresu od 0 do <i>m</i>–1.
            proces szyfrowania dla każdej litery jest określony wzorem:
            <br>
            <br>
            <strong> <i>E</i>(<i>x</i>) = (<i>x</i> + <i>k</i>) <i>mod m</i></strong>,
            <br>
            <br>
            gdzie <i>x</i> jest numerem litery tekstu jawnego w alfabecie, <i>k</i> jest kluczem szyfru natomiast <i>m</i> to długość alfabetu.
            <br>
            <br>
            Podczas deszyfrowania przesuwamy się w lewo o określoną liczbę pozycji w alfabecie, korzystając ze wzoru:
            <br>
            <br>
            <i><strong> <i>E</i>(<i>x</i>) = (<i>x</i> – <i>k</i>) <i>mod m</i></strong></i>.
        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_CaesarPartial")
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_CaesarVisualization")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

  
</script>
