<script src="~/js/ciphers/ClassicalCiphers.js"></script>

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Szyfr transpozycji kolumn</h2>
        <p class="description">
            Szyfr transpozycji kolumn jest szyfrem przestawieniowym. Działanie szyfru polega na przestawieniu pozycji liter tekstu jawnego, bazując na tabeli wypełnionej literami
            w kolejności wskazanej przez sekretny klucz. <br><br>Na początku wybierany jest sekretny klucz, który jest konwertowany na odpowiadający mu ciąg liczb tej samej długości. Litery
            klucza sortowane są alfabetycznie i numerowane od liczby 1. <br><br> Następnie kolejność cyfr jest z powrotem ustawiana w kolejności liter sekretnego klucza. Aby zaszyfrować wiadomość,
            należy wpisać wszystkie litery tekstu jawnego do tabeli, wierszami, od lewej do prawej. Szerokość tabeli zdefiniowana jest przez długość sekretnego klucza.
            Wysokość tabeli zależy od długości tekstu jawnego. Jeżeli po wpisaniu całej wiadomości w tabeli pozostały puste pola, należy uzupełnić je rzadko występującą literą 'X'.
            <br><br> Szyfrogram tworzony jest poprzez odczytywanie liter z tabeli kolumnami, z góry do dołu. Kolejność odczytywanych kolumn wskazana jest przez ciąg liczb odpowiadający sekretnemu kluczowi.

        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_ColumnarTranspositionPartial")
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_ColumnarTranspositionVisualization")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }


</script>
