<script src="~/js/ciphers/ClassicalCiphers.js"></script>

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Szyfr płotkowy</h2>
        <p class="description">
            <b>Szyfr płotkowy</b> to szyfr przestawieniowy. Litery tekstu jawnego zapisywane są w taki sposób, że układają się w kształt przypominający górną krawędź płotu.
            Zapisywanie liter rozpoczynamy od lewego, górnego narożnika. Sekretny klucz definiuje liczbę poziomów w schemacie płotu. <br>Szyfrogram odczytywany jest wierszami,
            rozpoczynając od najwyższego.
            <br><br>Przykład:
            <br><b>Tekst jawny</b>: Krypto Kombajn
            <br><b>Klucz</b>: 3
            <br><b>Kształt płotu</b>:
            <br>K - - - T - - - M - - - N
            <br>- R - P - O - O - B - J -
            <br>- - Y -&nbsp; - &nbsp;- K - - - A - -
            <br><br><b>Szyfrogram</b>: KTMNRPOOBJYKA
        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_FencePartial")
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_FenceVisualization")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }


</script>
