

<script src="~/js/ciphers/ClassicalCiphers.js"></script>

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Szyfr Playfair'a</h2>
        <p class="description">
            <b>Szyfr Playfair</b> jest szyfrem podstawieniowym. Polega on na zastąpieniu par liter tekstu jawnego inną parą liter. Do szyfrowania wykorzystywana jest tabela o wymiarach 5 na 5 liter.
            Tabela zawiera 25 liter alfabetu angielskiego (litery 'I' oraz 'J' traktowane są jako jedna litera).
            <br><br>Pierwszym krokiem jest uzupełnienie pierwszych wierszy tabeli literami z klucza. Kolejne pojawienia się tych samych liter są pomijane. Następnie pozostałe wiersze uzupełniane są alfabetycznie kolejnymi znakami, które nie występowały w kluczu.
            Kolejnym krokiem jest podzielenie tekstu jawnego na dwuliterowe części. W przypadku, gdy długość tekstu jawnego jest nieparzysta, należy dopełnić tekst literą 'X'.
            Algorytm znajduje obie litery z każdej pary w tabeli i w zależności od ich wzajemnego położenia wyznacza litery szyfrogramu.
            <br><br>&bull; Jeżeli obie litery znajdują się w tym samym wierszu, zastępowane są sąsiadującymi z nimi literami z prawej strony. W przypadku, gdy jedna z liter znajduje się na samym końcu wiersza, zastępowana jest pierwszą literą w tym wierszu. </li>
            <br>&bull; Jeżeli obie litery znajdują się w tej samej kolumnie, zostają zastąpione przez litery leżące pod nimi.
            <br>&bull; Jeżeli któraś litera znajduje się na końcu kolumny, zastępowana jest pierwszą literą w kolumnie.
            <br>&bull; Litery znajdujące się w innych wierszach i innych kolumnach, wyznaczają prostokąt. Aby zaszyfrować literę, bierzemy przeciwny narożnik prostokąta,
            znajdujący się w tym samym wierszu co szyfrowana litera. Jest to skrzyżowanie wiersza litery szyfrowanej z kolumną litery drugiej.
            <br>&bull; Jeżeli szyfrujemy dwie takie same litery, stosujemy zasadę dotyczącą liter znajdujących się w tym samym wierszu.

        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_PlayfairPartial")
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_PlayfairVisualization")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>
