<script src="~/js/ciphers/ClassicalCiphers.js"></script>

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Szyfr Vigenere'a</h2>
        <p class="description">
            <b>Szyfr Vigenère'a</b> to szyfr podstawieniowy. Jego działanie polega na stosowaniu różnie zdefiniowanych podstawień dla kolejnych liter tekstu.
            Szyfr Vigenère'a to szyfr podstawieniowy. Istnieją dwie metody szyfrowania z wykorzystaniem tego szyfru.
            <br>Metoda pierwsza polega na stosowaniu różnie zdefiniowanych podstawień dla kolejnych liter tekstu.
            Do szyfrowania i deszyfrowania wykorzystuje się tablicę zawierającą w pierwszym wierszu litery alfabetu w
            oryginalnej kolejności, a następnie w każdym kolejnym wierszu litery alfabetu przesunięte o jedną kolejną pozycję w lewo.
            Tablica ta nosi łacińską nazwę <i>tabula recta</i>.
            Aby zaszyfrować wiadomość, należy wybrać sekretne słowo kluczowe, na jego podstawie będą wybierane wiersze z różnie przesuniętymi literami alfabetu.
            <br>Szyfrogram powstaje z liter w tabeli znajdujących się na przecięciu wiersza, wyznaczanego przez literę tekstu jawnego i kolumny wyznaczanej przez literę tajnego klucza.
            <br><br>
            W drugiej metodzie szyfrowania szyfrem Vigenère'a, każdej kolejnej literze alfabetu przypisana jest kolejna liczba z zakresu od 0 do <i>m</i>. Aby otrzymać <i>i</i>-tą literę szyfrogramu,
            należy podstawić do poniższego wzoru odpowiednie liczby oznaczające poszczególne litery alfabetu:
            <br>
            <img class="center-block" src="~/images/Description/Ciphers/vigenere_formula.png" alt="VigenereFormula" style="width:23%">
            <br>
            gdzie  C<sub>i</sub> jest liczbą odpowiadającą <i>i</i>-tej literze szyfrogramu, T<sub>i</sub> jest liczbą odpowiadającą <i>i</i>-tej literze tajnego klucza (jeśli klucz jest krótszy od tekstu jawnego, należy zapętlać kolejne litery klucza), K<sub>i</sub> to liczba odpowiadająca <i>i</i>-tej literze tekstu jawnego natomiast litera <i>m</i> to liczność alfabetu.
            <br>
            <br>
            Przykład:
            <br><b>Tekst jawny</b>: <span style="color: #327AB7">Kryptografia</span>
            <br><b>Klucz</b>: Kombajn
            <br><b>Liczność alfabetu</b>: 26
            <br><b>Obliczenia</b>:
            <br> <b><span style="color: #327AB7">K</span></b> + <span style="color: #D9534F">K</span> = <span style="color: #327AB7">10</span> + <span style="color: #D9534F">10</span> = 20 MOD 26 = <b><span style="color: #9542CD">U</span></b>
            <br> <b><span style="color: #327AB7">R</span></b> + <span style="color: #D9534F">O</span> = <span style="color: #327AB7">17</span> + <span style="color: #D9534F">14</span> = 31 MOD 26 = <b><span style="color: #9542CD">F</span></b>
            <br> <b><span style="color: #327AB7">Y</span></b> + <span style="color: #D9534F">M</span> = <span style="color: #327AB7">24</span> + <span style="color: #D9534F">12</span> = 36 MOD 26 = <b><span style="color: #9542CD">K</span></b>
            <br> <b><span style="color: #327AB7">P</span></b> + <span style="color: #D9534F">B</span> = <span style="color: #327AB7">15</span> + <span style="color: #D9534F">1</span> = 16 MOD 26 = <b><span style="color: #9542CD">Q</span></b>
            <br> <b><span style="color: #327AB7">T</span></b> + <span style="color: #D9534F">A</span> = <span style="color: #327AB7">19</span> + <span style="color: #D9534F">0</span> = 19 MOD 26 = <b><span style="color: #9542CD">T</span></b>
            <br> <b><span style="color: #327AB7">O</span></b> + <span style="color: #D9534F">J</span> = <span style="color: #327AB7">14</span> + <span style="color: #D9534F">9</span> = 23 MOD 26 = <b><span style="color: #9542CD">X</span></b>
            <br> <b><span style="color: #327AB7">G</span></b> + <span style="color: #D9534F">N</span> = <span style="color: #327AB7">6</span> + <span style="color: #D9534F">13</span> = 19 MOD 26 = <b><span style="color: #9542CD">T</span></b>
            <br> <b><span style="color: #327AB7">R</span></b> + <span style="color: #D9534F">K</span> = <span style="color: #327AB7">17</span> + <span style="color: #D9534F">10</span> = 27 MOD 26 = <b><span style="color: #9542CD">B</span></b>
            <br> <b><span style="color: #327AB7">A</span></b> + <span style="color: #D9534F">O</span> = <span style="color: #327AB7">0</span> + <span style="color: #D9534F">14</span> = 14 MOD 26 = <b><span style="color: #9542CD">O</span></b>
            <br> <b><span style="color: #327AB7">F</span></b> + <span style="color: #D9534F">M</span> = <span style="color: #327AB7">5</span> + <span style="color: #D9534F">12</span> = 17 MOD 26 = <b><span style="color: #9542CD">R</span></b>
            <br> <b><span style="color: #327AB7">I</span></b> + <span style="color: #D9534F">B</span> = <span style="color: #327AB7">8</span> + <span style="color: #D9534F">1</span> = 9 MOD 26 = <b><span style="color: #9542CD">J</span></b>
            <br> <b><span style="color: #327AB7">A</span></b> + <span style="color: #D9534F">A</span> = <span style="color: #327AB7">0</span> + <span style="color: #D9534F">0</span> = 0 MOD 26 = <b><span style="color: #9542CD">A</span></b>
            <br><br><b>Szyfrogram</b>: <span style="color: #9542CD">UFKQTXTBORJA </span>
        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_VigenerePartial")
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_VigenereVisualization")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>
