<script src="~/js/ciphers/ClassicalCiphers.js"></script>

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Szyfr Vigenere'a</h2>
        <p class="description">
            <b>Szyfr Vigenère'a</b> to szyfr podstawieniowy. Jego działanie polega na stosowaniu różnie zdefiniowanych podstawień dla kolejnych liter tekstu.
            Szyfr Vigenère'a to szyfr podstawieniowy. Istnieją dwie metody szyfrowania z wykorzystaniem tego szyfru.
            <br>Metoda pierwsza polega na stosowaniu różnie zdefiniowanych podstawień dla kolejnych liter tekstu.
            Do szyfrowania i deszyfrowania wykorzystuje się tablicę zawierającą w pierwszym wierszu litery alfabetu w
            oryginalnej kolejności, a następnie w każdym kolejnym wierszu litery alfabetu przesunięte o jedną kolejną pozycję w lewo.
            Tablica ta nosi łacińską nazwę <i>tabula recta</i>.
            Aby zaszyfrować wiadomość, należy wybrać sekretne słowo kluczowe, na jego podstawie będą wybierane wiersze z różnie przesuniętymi literami alfabetu.
            <br>Szyfrogram powstaje z liter w tabeli znajdujących się na przecięciu wiersza, wyznaczanego przez literę tekstu jawnego i kolumny wyznaczanej przez literę tajnego klucza.
            <br><br>
            W drugiej metodzie szyfrowania szyfrem Vigenère'a, każdej kolejnej literze alfabetu przypisana jest kolejna liczba z zakresu od 0 do <i>m</i>. Aby otrzymać <i>i</i>-tą literę szyfrogramu,
            należy podstawić do poniższego wzoru odpowiednie liczby oznaczające poszczególne litery alfabetu:
            <br><br>
            <strong style="font-size:22px"> C<sub>i</sub> =  T<sub>i</sub> +  K<sub>i</sub> mod m</strong>
            <br><br>
            , gdzie  C<sub>i</sub> jest liczbą odpowiadającą <i>i</i>-tej literze szyfrogramu, T<sub>i</sub> jest liczbą odpowiadającą <i>i</i>-tej literze tajnego klucza (jeśli klucz jest krótszy od tekstu jawnego, należy zapętlać kolejne litery klucza), K<sub>i</sub> to liczba odpowiadająca <i>i</i>-tej literze tekstu jawnego natomiast litera <i>m</i> to liczność alfabetu.
            <br>
            <br>
            Przykład:
            <br><b>Tekst jawny</b>: Kryptografia
            <br><b>Klucz</b>: Kombajn
            <br><b>liczność alfabetu</b>: 26
            <br><b>Obliczenia</b>:
            <br> <b>K</b> + K = 10 + 10 = 20 MOD 26 = <b>U</b>
            <br> <b>R</b> + O = 17 + 14 = 31 MOD 26 = <b>F</b>
            <br> <b>Y</b> + M = 24 + 12 = 36 MOD 26 = <b>K</b>
            <br> <b>P</b> + B = 15 + 1 = 16 MOD 26 = <b>Q</b>
            <br> <b>T</b> + A = 19 + 0 = 19 MOD 26 = <b>T</b>
            <br> <b>O</b> + J = 14 + 9 = 23 MOD 26 = <b>X</b>
            <br> <b>G</b> + N = 6 + 13 = 19 MOD 26 = <b>T</b>
            <br> <b>R</b> + K = 17 + 10 = 27 MOD 26 = <b>B</b>
            <br> <b>A</b> + O = 0 + 14 = 14 MOD 26 = <b>O</b>
            <br> <b>F</b> + M = 5 + 12 = 17 MOD 26 = <b>R</b>
            <br> <b>I</b> + B = 8 + 1 = 9 MOD 26 = <b>J</b>
            <br> <b>A</b> + A = 0 + 0 = 0 MOD 26 = <b>A</b>
            <br><br><b>Szyfrogram</b>:UFKQTXTBORJA
        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_VigenerePartial")
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_VigenereVisualization")
    </div>
</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>
