<link rel="stylesheet" type="text/css" href="~/css/aes_visualization.css">
<script src="~/lib/custom/d3.min.js"></script>
<script src="~/js/ciphers/AesVisualization.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">
            Wizualizacja została przygotowana dla klucza o długości 128 bitów. 
            Prezentacja pokazuje działanie rundy wstępnej, rundy cyklicznej oraz przydział klucza dla każdej rundy. Dane wejściowe są losowane.
        </h1>
        <br/>
    </div>
</div>

<br/>
<div class="row">
    <div class="text-center">
        <h2>Runda wstępna</h2>
        <h3>
            Wykonanie operacji XOR na bloku danych i kluczu.
        </h3>
        <br/>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="roundZeroData">

            </svg>
        </div>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="roundZeroKey">

            </svg>
        </div>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="roundZeroResult">

            </svg>
        </div>
    </div>
    <div class="col-lg-4 text-left">
        <h4 align="center">
            Najedź kursorem aby sprawdzić<span class="glyphicon glyphicon-hand-up"></span>
        </h4>   
    </div>
    <div class="col-lg-4">
        <div align="center">
            <h1 id="XOR-round-zero">
                --------
                <br>--------
                <br>___________
                <br>--------
            </h1>
        </div>
    </div>

</div>
<div class="row">
    <div class="text-center">
        <h2>
            Schemat przydzielania klucza rundy
        </h2>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div align="center">
            <svg id="oldKey">

            </svg>
        </div>

    </div>

    <div class="col-lg-4">
        <div align="center">
            <span style="font-size: 200px" class="glyphicon glyphicon-arrow-right">

            </span>
        </div>
    </div>

    <div class="col-lg-4">
        <div align="center">
            <svg id="newKey">

            </svg>
        </div>
    </div>
    <div class="col-lg-4 col-lg-offset-8 text-left">
        <h4 align="center">
            Najedź kursorem aby sprawdzić<span class="glyphicon glyphicon-hand-up"></span>
        </h4>
    </div>
</div>
<div class="row">
    <div align="center">
        <svg id="keyViz" height="450" width="1000">

        </svg>
        <div id="rconMath">
            <div class="img-responsive" style="display: none;">
                <img style="margin-bottom: 20px" runat="server" width="50%" height="50%" src="~/images/rcon1.png"/>
                <img runat="server" width="50%" height="50%" src="~/images/rcon2.png"/>
            </div>
        </div>

    </div>


</div>
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-center">

        </h2>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <h2>Runda cykliczna (9 powtórzeń dla klucza 128-bitowego)</h2>
        <br/>
    </div>
    <div class="text-center">
        <h3>
            1. Podstawienie
        </h3>
    </div>
    <div class="col-lg-12">
        <div align="center">
            <svg id="sboxBlock">

            </svg>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div align="center">
            <svg id="dataBlock">

            </svg>
        </div>
    </div>
    <div class="col-lg-4 text-center">
        <div align="center">
            <span style="font-size: 200px" class="glyphicon glyphicon-arrow-right">

            </span>
        </div>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="subBytesBlock">
                
            </svg>
        </div>
    </div>
    <div class="col-lg-4 text-left">
        <h4 align="center">
            Najedź kursorem aby sprawdzić<span class="glyphicon glyphicon-hand-up"></span>
        </h4>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <h3>
            2. Przesunięcie
        </h3>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="shiftBlockBefore">

            </svg>
        </div>
    </div>
    <div class="col-lg-4 text-center">
        <div align="center">
            <span style="font-size: 200px" class="glyphicon glyphicon-arrow-right">

            </span>
        </div>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="shiftBlockAfter">

            </svg>
        </div>
    </div>
    <div class="col-lg-4 text-left">
        <h4 align="center">
            Najedź kursorem aby sprawdzić<span class="glyphicon glyphicon-hand-up"></span>
        </h4>   
    </div>
</div>

<div class="row">
    <div class="text-center">
        <h3>
            3. Mieszanie kolumn
        </h3>
        <br/>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="mixColumnsHelperMatrix">

            </svg>
        </div>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="mixColumnsBlockBefore">

            </svg>
        </div>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="mixColumnsBlockAfter">

            </svg>
        </div>
    </div>
    <div class="col-lg-4 col-lg-offset-8 text-left">
        <h4 align="center">
            Najedź kursorem aby sprawdzić<span class="glyphicon glyphicon-hand-up"></span>
        </h4>
    </div>
    <div class="col-lg-12" align="center" >
        <svg width="1000" height="200" id="mixColumnsFormula">

        </svg>
    </div>
</div>
<div class="row"></div>
<div class="row">
    <div class="text-center">
        <h3>
            4. Dodawanie klucza rundy (XOR)
        </h3>
        <br/>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="roundKeyData">

            </svg>
        </div>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="roundKeyKey">

            </svg>
        </div>
    </div>
    <div class="col-lg-4">
        <div align="center">
            <svg id="roundKeyResult">

            </svg>
        </div>
    </div>
    <div class="col-lg-4 text-left">
        <h4 align="center">
            Najedź kursorem aby sprawdzić<span class="glyphicon glyphicon-hand-up"></span>
        </h4>   
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div align="center">
            <h1 id="XOR-viz">
                    --------
                <br>--------
                <br>___________
                <br>--------
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <h2>
            Runda finałowa
        </h2>
        <br />
        <h3>
            Ostania runda wygląda tak samo jak poprzednie z tą różnicą, że nie wykonuje się mieszania kolumn.
        </h3>
        <img src="~/images/aesFinalRound.png"/>
    </div>
</div>




<script>

    $(document).ready(function() {
        AesVisualizationInit();
    });
    
</script>
