
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/ciphers/BlockCiphers.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/block_ciphers.css">

<body>

    @await Html.PartialAsync("_BlockCiphersPartial")

</body>