@{
    ViewData["Title"] = "O nas";
}
<h1>@ViewData["Title"]</h1>

<h2>Praca inżynierska "Edukacyjny serwis internetowy z dziedziny kryptologii" autorstwa studentów Politechniki Poznańskiej:<br/>
    <br/>
    Paulina Mrozek<br />
    Kamil Sagalara<br />
    Hubert Springer<br />
</h2>
