@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<h2 align="center">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <section>
            <form method="post">
                <h4 align="center">Użyj konta administratora aby się zalogować.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">Adres e-mail</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Hasło</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Zaloguj się</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">   
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
