.background {
    fill: blue;
}

.cell-rect-data {
    fill: #87cefa;
    stroke: black;
    stroke-width: 2px;
}

.cell-rect-data-2 {
    fill: #4169e1;
    stroke: black;
    stroke-width: 2px;
}
.cell-rect-helpers{
    fill: #f0e68c;
    stroke: black;
    stroke-width: 2px;
}

.cell-rect-result {
    fill: #98fb98;
    stroke: black;
    stroke-width: 2px;
}
.cell-rect-result {
    fill: #98fb98;
    stroke: black;
    stroke-width: 2px;
}

.cell-rect-key {
    fill: #ee82ee;
    stroke: black;
    stroke-width: 2px;
}

.cell-rect-sbox {
    fill: #8fbc8f;
    stroke: black;
    stroke-width: 2px;
}

.cell-rect-selected {
    fill: red;
    stroke: black;
    stroke-width: 2px;
}
.cell-rect-selected-2 {
    fill: orange;
    stroke: black;
    stroke-width: 2px;
}

.cell-rect-index {
    fill: #b0c4de;
    stroke: black;
    stroke-width: 2px;
}

.cell-text-data {
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
    pointer-events: none;
}

.description-text {
    font-size: 22px;
    font-style: italic;
    text-anchor: middle;
    pointer-events: none;
}
.description-text-simple {
    font-size: 22px;
    text-anchor: middle;
    pointer-events: none;
}

.maroon-cell {
    fill: maroon;
    stroke: black;
    stroke-width: 2px;
}
.red-cell{
    fill: red;
    stroke: black;
    stroke-width: 2px;
}
.orange-cell{
    fill: orange;
    stroke: black;
    stroke-width: 2px;
}
.yellow-cell
{
    fill: yellow;
    stroke: black;
    stroke-width: 2px;
}

