table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #5c9def;
    text-align: center;
    padding: 3px;
}


input.md5 {
    text-align: center;
    border: dashed;
    border-bottom-color: #5c9def;
    border-top-color:white;
    border-left-color:white;
    border-right-color:white;
    background-color:white;
}

input.registers {
    text-align: center;
    border:none;
}

table.md5Data {
    font-size: 18px;
    border-color: white;
}
