table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #5c9def;
    text-align: center;
    padding: 3px;
}

th {
    background-color: #9dc2f2;
}



input.registers {
    text-align: center;
    border:none;
}

table.md5Data td {
    border: none;
    text-align: left;
}

table.md5Data {
    font-size: 18px;
    border:none;
}



input.md5 {
    text-align: left;
    background-color: white;
    border-style: unset;
    color: #5c9def;
    border-bottom-color:lightgray;
    font-weight:500;
    font-size:20px;
}

input.pad {
    text-align: center;
    background-color: white;
    border-style: unset;
    color: #5c9def;
    border-bottom-color: lightgray;
    font-weight: 500;
    font-size: 20px;
}



/*table.operations, th, td {
    font-size: 18px;
    border: 0px solid white;
    text-align: left;
}*/

