@using CryptoWebService.Backend.LfsrGenerators
@{
    Dictionary<int,int[]>functions = Lfsr.GenerateFeedbackFunctions();
}

<div class="row">
    
    <div class="container">
        <h2 class="text-center">Ustawienia funkcji sprzężenia zwrotnego</h2>
        <h5 class="alert alert-info text-center">Możliwość edycji wielomianów dla rejestrów o długości 2-20 bitów. </h5>
        <h5 class="alert alert-danger text-center"> Uwaga! Zmiany funkcji zwrotnych mogą pogorszyć jakość generowanych ciągów!</h5>
        <div class="table-responsive">          
            <table class="table">
                <thead>
                <tr>
                    <th class="lfsr-function-column">&nbsp;</th>
                    <th class="lfsr-function-column">x<sup>0</sup></th>
                    @for (int i = 1; i <= 20; i++)
                    {
                        <th class="lfsr-function-column">x<sup>@i.ToString()</sup> </th>
                    }
                </tr>
                </thead>
                <tbody>
                @for (int i = 2; i <= 20; i++)
                {

                    var rowFunctions = functions[i];
                    int fIndex = 0;
                    <tr>
                        <td class="lfsr-function-column">@i</td>
                        <td class="lfsr-function-cell">1</td>
                        @for (int j = 1; j <= i; j++)
                        {
                            if (fIndex<rowFunctions.Length && rowFunctions[fIndex] == j-1)
                            {
                                fIndex++;
                                <td class="lfsr-function-cell"><input checked class="bit-checkbox" type="checkbox" /></td>
                            }
                            else
                            {
                                <td class="lfsr-function-cell"><input class="bit-checkbox" type="checkbox" /></td>
                            }

                        }
                    </tr>
                }
                
                </tbody>
            </table>
        </div>
    </div>



</div>