<script src="~/lib/custom/d3.min.js"></script>
<script src="~/js/generators/GeffeVisualization.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">
            Generator Geffego - wizualizacja
        </h1>
        <br />
        <h2 class="text-center">Podaj wartości początkowe i kliknij "Stwórz rejestr". Maksymalna długość rejestrów dla wizualizacji to 10 bitów.</h2>
    </div>
</div>
<div class="row">
    <svg width="1000" height="700" id="lfsrContainters">
        <g transform="translate(0,0)" id="lfsr1"></g>
        <g transform="translate(0,200)" id="lfsr2"></g>
        <g transform="translate(0,400)" id="lfsr3"></g>
        <g transform="translate(600,50)" id="multiPlexer"></g>
    </svg>
</div>
<div class="row">
    <div class="col-lg-3">
        <br />
        <button id="nextStepBtn" class="btn btn-lg btn-success center-block">Wygeneruj bit</button>
    </div>
    <div class="col-lg-3">
        <div class="form-group inline">
            <label for="registerText">Stan rejestru</label>
            <input id="registerText" class="form-control" type="text" />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group inline">
            <label for="registerText">Wielomian (np. 2,4,5)</label>
            <input id="feedbackFunctionViz" class="form-control" type="text" />
        </div>
    </div>
    <div class="col-lg-3">
        <br />
        <button id="createRegisterBtn" class="btn btn-lg btn-primary center-block">Stwórz rejestr</button>
    </div>
</div>


<script>
    $(document).ready(function () {
        GeffeVisualizationInit();
    });
</script>