<script src="~/lib/custom/d3.min.js"></script>
<script src="~/js/generators/SelfDecimationVisualization.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">
            Generator samodecymujący - wizualizacja
        </h1>
        <br />
        <h2 class="text-center">Podaj wartości początkowe i kliknij "Stwórz rejestr". Maksymalna długość rejestrów dla wizualizacji to 10 bitów.</h2>
    </div>
</div>
<div class="row">
    <svg width="1000" height="250" id="lfsrContainters">
        <g transform="translate(0,0)" id="lfsr1"></g>
        <g transform="translate(500,0)" id="outputArea"></g>
    </svg>
</div>
<div class="row">
    <div class="col-lg-2">
        <br />
        <button id="nextStepBtn" class="btn btn-lg btn-success center-block">Wygeneruj bit</button>
    </div>
    <div class="col-lg-2">
        <div class="form-group inline">
            <label for="registerText1">Stan rejestru 1</label>
            <input value="10101" maxlength="10" id="registerText1" class="form-control" type="text" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group inline">
            <label for="feedbackFunctionViz1">Wielomian (np. 2,4,5)</label>
            <input value="1,2" maxlength="40" id="feedbackFunctionViz1" class="form-control" type="text" />
        </div>
    </div>
    <div class="col-lg-2">
        <label for="valueD">Wartość D</label>
        <select id="valueD" class="form-control">
            @for (int i = 1; i <= 20; i++)
            {
                @Html.Raw("<option value=" + i + ">" + i + "</option>")
            }
        </select>
    </div>
    <div class="col-lg-2">
        <label for="valueK">Wartość K</label>
        <select id="valueK" class="form-control">
            @for (int i = 1; i <= 20; i++)
            {
                @Html.Raw("<option value=" + i + ">" + i + "</option>")
            }
        </select>
    </div>
    <div class="col-lg-2">
        <br />
        <button id="createRegisterBtn" class="btn btn-lg btn-primary center-block">Stwórz rejestr</button>
    </div>
</div>


<script>
    $(document).ready(function () {
        SelfDecimationVisualizationInit();
    });
</script>