<script src="~/js/generators/Generators.js"></script>
<link rel="stylesheet" href="~/css/generators.css" />

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Generator Geffego</h2>
        <p class="description">
            Zaproponowany w 1973 r. przez P.R. Geffego. Korzysta z trzech rejestrów
            LFSR powiązanych ze sobą nieliniowo przez multiplekser. Działanie tego generatora
            można opisać wzorem:
            <br><br>
                <strong><i>k</i> = (<i>a<sub>3</sub></i> AND <i>a<sub>1</sub></i>) OR ((NOT <i>a<sub>1</sub></i>) AND <i>a<sub>2</sub></i>)</strong>.
            <br><br>
            Liniowa złożoność tego generatora wynosi (<i>L<sub>1</sub></i>+1)<i>L<sub>2</sub></i>+<i>L<sub>1</sub>L<sub>3</sub></i> gdzie <i>L<sub>i</sub></i> oznacza długość
            rejestru <i>i</i>. Okres tego ciągu wyjściowego z generatora odpowiada najmniejszej wspólnej
            wielokrotności trzech okresów generatorów składowych. W najlepszym przypadku
            jest on równy iloczynowi okresów generatorów składowych <i>T</i> = <i>T<sub>1</sub>T<sub>2</sub>T<sub>3</sub></i> pod
            warunkiem, że długości rejestrów składowych sa względnie pierwsze. Na rysunku
            ponżiej przedstawiono schemat działania generatora Geffego.
            <br><br>
            <img class="center-block" src="~/images/Description/Generators/gen_geffego.png" alt="Geffe" style="width:600px;">
            <br><br>
</div>
    <div id="Tools" class="tabcontent col-lg-12">

        @await Html.PartialAsync("_GeffePartial")

    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_GeffeVisualization")
    </div>


</div>


<script>
    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
