<script src="~/js/generators/Generators.js"></script>
<link rel="stylesheet" href="~/css/generators.css" />

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title"> Generator obcinający</h2>
        <p class="description">
            Zaproponowany został w 1993 roku przez D.Coppersmitha, H.Krawczyka i
            Y.Mansoura. Wykorzystuje dwa rejestry LFSR. Bity wyjściowe jednego
            z rejestrów decydują, które bity wyjściowe drugiego rejestru będą wykorzystane, a
            które odrzucone. Poniższy rysunek przedstawia schemat generatora obcinającego.
            <br><br>
            <img class="center-block" src="~/images/Description/Generators/gen_obcinajacy.png" alt="Shrinking" style="width:600px;">
            <br><br>
            Jeżeli na wyjściu rejestru S pojawi sie jedynka, bit wyjściowy z rejestru A jest dołączany
            do ciagu klucza <i>k<sub>i</sub></i>. Obydwa rejestry pracują równocześnie. Częstość pojawiania
            się bitów na wyjściu generatora nie jest regularna, jest więc źródłem kłopotów
            w zastosowaniach – jeśli rejestr LFSR-S wytwarza długi ciśg zer, to na wyjściu tego
            generatora nie pojawi się nic. Jeżeli długości rejestrów są względnie pierwsze, to
            okres takiego generatora wynosi:
            <br> <br>
            <img class="center-block" src="~/images/Description/Generators/obcinajacy_formula.png" alt="ShrinkingFormula" style="width:22%">
</div>
    <div id="Tools" class="tabcontent col-lg-12">

        @await Html.PartialAsync("_ShrinkingPartial")

    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_ShrinkingVisualization")
    </div>


</div>


<script>
    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
