<script src="~/js/generators/Generators.js"></script>
<link rel="stylesheet" href="~/css/generators.css" />

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">Generator stop and go</h2>
        <p class="description">
            Zaproponowany w 1987 r. przez C.G. Gunthera generator został zbudowany z
            trzech rejestrów LFSR o różnej długości. LFSR-1 taktuje rejestr LFSR-
            2 jedynka, a rejestr LFSR-3 zerem. Ciąg wyjściowy jest sumą modulo 2 ciągów
            wyjściowych LFSR-2 i LFSR-3. Poniżej przedstawiono schemat generatora stop and go.
            <br><br>
            <img class="center-block" src="~/images/Description/Generators/gen_stop_and_go.png" alt="StopAndGo" style="width:600px;">
            <br><br>
            Jeżeli długości wszystkich trzech rejestrów są względnie pierwsze, a zarówno okresy
            generatorów LFSR-2 i LFSR-3 (<i>gcd</i>(<i>T<sub>2</sub></i>, <i>T<sub>3</sub></i>) = 1), to okres generatora jest równy
            iloczynowi okresów wszystkich rejestrów:
            <br><br>
                <strong><i>T</i> = <i>T<sub>1</sub>T<sub>2</sub>T<sub>2</sub></i></strong>.
            <br><br>
        </p>
    </div>
    <div id="Tools" class="tabcontent col-lg-12">

        @await Html.PartialAsync("_StopAndGoPartial")

    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        @await Html.PartialAsync("_StopAndGoVisualization")
    </div>


</div>


<script>
    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
